---
---

@import "{{ site.theme }}";

// To make a custom header
.page-header-custom {
  color: $header-heading-color;
  text-align: center;
  background-image: url('personal/photos_hawaii/Diamond_Head_view.JPG'), linear-gradient(120deg, $header-bg-color, $header-bg-color);

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}
